*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px 100px 0;
    background: linear-gradient(to bottom, #ECB93C, #F7D990);
}

header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    max-width: 100px;
}

.menu img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}